/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


p {
  font-size: 1.5rem;
}

#map { height: 400px; }


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
