/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
main {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  overflow: hidden;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

#map { 
  height: 60vh;
  width: 100vw; 
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
